/* li{background-color: yellow;} */
/* h3{color: blueviolet;} */
/* div{background-color: brown;} */

/* Body slyles */
body {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #F5F7FA;
}

/* main slyles */
.main {
    display: flex;
    /* flex-direction: row; - це flex за замовчуванням. Міняємо місцями Main Contant і Sidebar: */
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-contant {
    background-color:  #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about styles */
.about-user {
    margin-bottom: 40px;
}

.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-discription{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #595959;
    width: 400px;
    /* border: 1px solid #000000; */
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}


/* projects styles */
.projects {
    margin-bottom: 50px;
}


.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 22px;    
}

 .project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
 }

.project-links {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.project-brackets {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work slyles */
.work {
    margin-bottom: 20px;
}

.work-list {
    margin-bottom: 20px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.work-place {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work-dates {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.work-dates-line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-description-list {
    padding: 0;
    margin-left: 10px;
}

.work-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education styles */
.education {
    margin-top: 40px;
}

/* sidebar styles */
.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

/* photo parameters */
.photo{
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}


.contacts, .tech-skills, .soft-skills {
    margin-left: 40px;    
}

.contacts {
    margin-bottom: 50px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.tech-skills-list {
    color: #FFFFFF;
    /* змінюємо відступ крапок-списку за замовчуванням */
    padding: 0;
    margin-left: 18px;
}

.list-points {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

.list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;    
}